@font-face {
    font-family: HankenGrotesk;
    src: url(../assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

:root {
    --fonte: HankenGrotesk;
    --cor1: #6643FE;
    --cor2: #322CE9;
}

.container {
    display: flex;
    font-family: var(--fonte);
    text-align: center;
    border: 3px solid transparent;
    border-radius: 20px;
    box-shadow: 20px 13px 20px rgba(0, 0, 0, 0.308);
    height: 500px;
    width: 600px;
    margin: auto;
    margin-top: 10%;
    font-weight: bold;
}

.result {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    color: white;
    border-radius: 6px 0 0 6px;
    width: 150%;
    height: 100.7%;
}

.circle {
    border-radius: 100px;
    border: 2px solid black;
    width: 200px;
    height: 200px;
}

.total_points {
    background-image: linear-gradient(to bottom, #4924CC, #4633ED);
    font-size: 1em
}

.points {
    font-size: 4em;
    font-weight: bold;
}

#informations {
    width: 100%;
    border-radius: 0 6px 6px 0;
}

button {
    border-radius: 15px;
    width: 250px;
    height: 50px;
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    color: white;
    font-size: 1em;
}